body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-user {
    margin-right: 0;
}

.navbar-user .navbar-text {
	
}

pre {
	white-space: pre-wrap;
}

.dropdown-menu .divider {
	margin: 5px 0;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
	background-color: #e7e7e7;
}


hr {
	border-top: 1px solid #e7e7e7;
}

.naslov-stranice {
	margin: 25px 0 20px 0;  /* margin: 1em 0 0.5em 0; */
    position: relative;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);  /* text-shadow: 0 -1px 1px rgba(0,0,0,0.4); */
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
    color: #777;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 15px;
}

.table {
	margin-bottom: 0;
}
.table > tbody > tr:FIRST-CHILD > td {
	border-top: 1px solid transparent;
}
.table > tbody > tr.tr-edit {
    background-color: #f5f5f5;
}
.table-hover > tbody > tr.block-edit:hover {
    background-color: inherit;
}


#atm-map {
	height: 600px;
	width: 100%;
}

.navbar-kviko {
	background-color: #9134C1;
	border-color: #6a01a0;
}
.navbar-kviko .navbar-brand {
    color: white;
}
.navbar-kviko .navbar-brand:focus, 
.navbar-kviko .navbar-brand:hover {
    color: aqua;
    background-color: transparent;
}
.navbar-kviko .navbar-nav > li > a {
    color: white;
}
.navbar-kviko .navbar-nav > li > a:focus, 
.navbar-kviko .navbar-nav > li > a:hover {
    color: aqua;
    background-color: transparent;
}
.navbar-kviko .navbar-nav > .active > a, 
.navbar-kviko .navbar-nav > .active > a:focus, 
.navbar-kviko .navbar-nav > .active > a:hover {
    color: aqua;
    background-color: #6a01a0;
}
.navbar-kviko .navbar-nav > .open > a, 
.navbar-kviko .navbar-nav > .open > a:focus, 
.navbar-kviko .navbar-nav > .open > a:hover {
    color: aqua;
    background-color: #6a01a0;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
    color: aqua;
    background-color: #9134C1;
}
.navbar-kviko .navbar-btn {
	border-color: #6a01a0;
}
.navbar-kviko .navbar-btn:hover {
    color: #6a01a0;
    background-color: #fff;
}
