body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-user {
    margin-right: 0;
}

.navbar-user .navbar-text {
	
}

pre {
	white-space: pre-wrap;
}

.dropdown-menu .divider {
	margin: 5px 0;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
	background-color: #e7e7e7;
}


hr {
	border-top: 1px solid #e7e7e7;
}

.naslov-stranice {
	margin: 25px 0 20px 0;  /* margin: 1em 0 0.5em 0; */
    position: relative;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);  /* text-shadow: 0 -1px 1px rgba(0,0,0,0.4); */
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
    color: #777;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 15px;
}

.table {
	margin-bottom: 0;
}
.table > tbody > tr:FIRST-CHILD > td {
	border-top: 1px solid transparent;
}
.table > tbody > tr.tr-edit {
    background-color: #f5f5f5;
}
.table-hover > tbody > tr.block-edit:hover {
    background-color: inherit;
}


#atm-map {
	height: 600px;
	width: 100%;
}

.navbar-kviko {
	background-color: #9134C1;
	border-color: #6a01a0;
}
.navbar-kviko .navbar-brand {
    color: white;
}
.navbar-kviko .navbar-brand:focus, 
.navbar-kviko .navbar-brand:hover {
    color: aqua;
    background-color: transparent;
}
.navbar-kviko .navbar-nav > li > a {
    color: white;
}
.navbar-kviko .navbar-nav > li > a:focus, 
.navbar-kviko .navbar-nav > li > a:hover {
    color: aqua;
    background-color: transparent;
}
.navbar-kviko .navbar-nav > .active > a, 
.navbar-kviko .navbar-nav > .active > a:focus, 
.navbar-kviko .navbar-nav > .active > a:hover {
    color: aqua;
    background-color: #6a01a0;
}
.navbar-kviko .navbar-nav > .open > a, 
.navbar-kviko .navbar-nav > .open > a:focus, 
.navbar-kviko .navbar-nav > .open > a:hover {
    color: aqua;
    background-color: #6a01a0;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
    color: aqua;
    background-color: #9134C1;
}
.navbar-kviko .navbar-btn {
	border-color: #6a01a0;
}
.navbar-kviko .navbar-btn:hover {
    color: #6a01a0;
    background-color: #fff;
}
.navbar-kviko .navbar-user .navbar-text {
	color: white;
}
.navbar-kviko .navbar-user .navbar-text i {
	color: springgreen;
}


.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}


/* DataTables: */

.table.dataTable tbody tr.active td, .table.dataTable tbody tr.active th {
    background-color: #DBF3FF !important;
    color: black !important;
}
.table.dataTable tbody tr.active:hover td, .table.dataTable tbody tr.active:hover th {
    background-color: #d9edf7 !important;
}
    .table.dataTable tbody tr.active td > a, .table.dataTable tbody tr.active th > a {
        color: #428bca !important;
    }

div.dataTables_processing {
    margin-top: 0 !important;
    padding-top: 0 !important;
    font-size: 14px !important;
    font-style: italic;
    color: #9134c1;
    width: 180px !important;
    margin: 0 auto !important;
    background: none !important;
    background-color: white !important;
    border: 1px solid #9134c1;
    border-radius: 4px;
    height: auto !important;
    padding: 0 !important;
    padding: 3px 10px !important;
    margin-left: -90px !important;
    z-index: 2;
}

div.dataTables_info {
    padding-top: 4px !important;
    font-style: italic;
}

div.dataTables_length label {
    margin-bottom: 0;
    font-style: italic;
}

    div.dataTables_length select {
        padding: 2px 0 2px 5px;
        width: auto !important;
        font-style: italic;
        margin: 0 5px;
    }

div.dataTables_paginate ul.pagination {
    margin: 0 !important;
}

table.dataTable {
    margin-bottom: 0 !important;
}

    table.dataTable > thead > tr > th {
        font-size: 13px;
        background-color: #f5f5f5;
        line-height: 1.2;
        padding-right: 30px !important;
        vertical-align: middle;
        border-bottom-color: #A3A3A3;
        border-bottom-width: 0;
    }
        table.dataTable > thead > tr > th:not(:last-child) {
            border-right-color: #dddddd;
        }

table.table-bordered.dataTable {
    border: 1px solid #A3A3A3;
    border-radius: 3px;
}
    table.table-bordered.dataTable > tfoot > tr > th {
        background-color: #f5f5f5;
    }
    table.table-bordered.dataTable > tfoot > tr > th:not(:last-child) {
        border-right-color: #A3A3A3;
    }
    table.dataTable > tbody > tr:first-child > td {
        border-top: 1px solid #A3A3A3;
    }

/* Font Awesome: */
table.dataTable thead th.sorting_asc:after {
    content: "\f139" !important;
    opacity: 1;
    color: #9134c1;
    top: 50% !important;
    /*margin-top: -10px;*/  /* Pola visine ikone */  margin-top: -8px;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f13a" !important;
    opacity: 1;
    color: #9134c1;
    top: 50% !important;
    /*margin-top: -10px;*/  /* Pola visine ikone */  margin-top: -8px;
}

table.dataTable tbody td {
    font-size: 13px;
    vertical-align: middle;
}
    table.dataTable tbody td.tekst-desno {
        text-align: right;
    }
    table.dataTable tbody td.izmjena-link {
        white-space: nowrap;
    }

/* Tabela sa horizontalnim scrollom: */
.dataTables_wrapper div.table-scroll {
    border: 1px solid #A3A3A3;
    border-radius: 3px;
    min-height: .01%;
    overflow-x: auto;
}
    .dataTables_wrapper div.table-scroll table.table-bordered.dataTable {
        border: none;
    }

/* Responsive tabela: */
@media screen and (max-width: 991px) 
{
    .dataTables_wrapper div.table-responsive {
        border: 1px solid #A3A3A3;
        border-radius: 3px;
    }

    table.table-bordered.dataTable {
        border: none;
    }
}

div.dataTables_paginate {
    font-size: 13px;
}

div.dataTables_paginate .pagination > li > a, div.dataTables_paginate .pagination > li > span {
    border: 1px solid #A3A3A3;
    font-style: italic;
}

.pagination > li > a, .pagination > li > span {
    padding: 5px 12px;
}

div.dataTables_paginate li.first a:before, div.dataTables_paginate li.previous a:before,
div.dataTables_paginate li.next a:after, div.dataTables_paginate li.last a:after {
    top: 5px !important;
}

div.dataTables_paginate .pagination > .paginate_button:not(.disabled):not(.active) > a {
    color: black;
}

div.dataTables_paginate .pagination > .active > a,
div.dataTables_paginate .pagination > .active > a:hover,
div.dataTables_paginate .pagination > .active > a:focus,
div.dataTables_paginate .pagination > .active > span,
div.dataTables_paginate .pagination > .active > span:hover,
div.dataTables_paginate .pagination > .active > span:focus {
    color: black;
    background-color: beige;
    border-color: #A3A3A3;
}

.pagination > .disabled > span, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
    border-color: #A3A3A3;
}


/* Select2: */

.select2-container .select2-choice {
    background-image: none !important;
    height: 34px !important;
    line-height: 32px !important;
    padding: 0 0 0 12px !important;
    font-style: italic;
}

    .select2-container .select2-choice .select2-arrow {
        border-left: none !important;
        background-image: none !important;
        background-color: #fff !important;
        right: 5px !important;
    }

    .select2-container .select2-choice abbr {
        top: 9px !important;
        right: 26px !important;
    }

    .select2-container .select2-choice .select2-arrow b {
        background: url(/app/js/select2/select2.png) no-repeat 0 3px !important;
    }

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 45px !important;
}

.select2-dropdown-open .select2-choice {
    background-color: #fff !important;
}

.select2-drop-active {
    border-top: none !important;
}

.select2-drop {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-search {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

    .select2-search input {
        height: 26px !important;
        padding: 4px 24px 4px 5px !important;
    }

.select2-results {
    padding: 0 0 0 8px !important;
    margin: 6px 8px 6px 0 !important;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.select2-container.input-validation-error.select2-dropdown-open .select2-choice {
    border-color: #66afe9;
}

.select2-container.input-validation-error .select2-choice {
    border-color: #a94442;
}


/* Pikaday: */

.pika-single {
	border-radius: 4px;
}
.pika-table th {
	padding-top: 5px !important;
}
.pika-table th abbr[title] {
	border-bottom: none;
	text-decoration: none;
}
.pika-button:hover {
	background: #9134c1 !important;
	border-radius: 3px !important;
}
.is-today .pika-button {
	color: #9134c1;
}
.is-selected .pika-button {
	background: #9134c1;
	border-radius: 3px;
}
.is-today.is-selected .pika-button {
	color: #fff;
}
