<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       					http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
    <!-- Specifying base package of the components like Controller, Service, DAO -->
    <context:component-scan base-package="ba.sema" />
	
    <!-- Getting Database properties -->
    <context:property-placeholder location="classpath:application.properties" />
	
 	<!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven />
	
    <!-- Specifying the Resource location to load JS, CSS, Images, etc. -->
	<!-- <mvc:resources mapping="/resources/**" location="/WEB-INF/Resources/" /> -->
    <mvc:resources mapping="/css/**" location="/WEB-INF/Assets/css/" />
	<mvc:resources mapping="/js/**" location="/WEB-INF/Assets/js/" />
	<mvc:resources mapping="/fonts/**" location="/WEB-INF/Assets/fonts/" />
	<mvc:resources mapping="/images/**" location="/WEB-INF/Assets/images/" />
	
    <!-- View Resolver: resolves views selected for rendering by @Controllers to .jsp resources in the /WEB-INF/Views directory -->
    <!--
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/Views/" />
        <property name="suffix" value=".jsp" />
    </bean>
    -->
    
    <!-- Tiles View Resolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
		<property name="contentType" value="text/html; charset=UTF-8" />
	</bean>
    
    <!-- Tiles Configurer -->
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/tiles.xml</value>
            </list>
        </property>
    </bean>
	
    <!-- DataSource -->
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
        <property name="driverClassName" value="${database.driver}"></property>
        <property name="url" value="${database.url}"></property>
        <property name="username" value="${database.user}"></property>
        <property name="password" value="${database.password}"></property>
    </bean>
	
    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
            </props>
        </property>
        <property name="packagesToScan" value="ba.sema.entities"></property>
    </bean>
	
    <!-- Transaction -->
    <bean class="org.springframework.orm.hibernate4.HibernateTransactionManager" id="transactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
	
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <!-- Security Configuration -->
    <beans:beans xmlns="http://www.springframework.org/schema/security"
    		xmlns:beans="http://www.springframework.org/schema/beans"
    		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    		xsi:schemaLocation="http://www.springframework.org/schema/beans 
    							http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    							http://www.springframework.org/schema/security 
    							http://www.springframework.org/schema/security/spring-security-4.0.xsd">
    	
    	<http pattern="/css/**" security="none" />
	    <http pattern="/js/**" security="none" />
	    <http pattern="/fonts/**" security="none" />
	    
	    <global-method-security pre-post-annotations="enabled" />
	    
	    <http use-expressions="true">
	        
	        <!--
	        <form-login login-page="/login"
	                    username-parameter="username"
	                    password-parameter="password"
	                    default-target-url="/" always-use-default-target="false" />
	        -->
	                    
	        <form-login login-page="/login"
	                    username-parameter="username"
	                    password-parameter="password"
	                    always-use-default-target="false"
	                    authentication-success-handler-ref="customAuthenticationSuccessHandler" />
	        
	        <csrf />
	        <!--
	        <intercept-url pattern="/login/**" access="permitAll" />
	        <intercept-url pattern="/**" access="isAuthenticated()" />
	        -->
	        <!--
	        <logout logout-url="/login/odjava" logout-success-url="/login/prijava/" delete-cookies="JSESSIONID" />
	        -->
	        
	        <!--
	        <intercept-url pattern="/login/**" access="permitAll" />
	        <intercept-url pattern="/" access="permitAll" />
	        -->
	        
	        <!--
			<intercept-url pattern="/banks/list/**" access="hasAnyRole('ADMIN', 'UNOS', 'PREGLED', 'READ')" />
			<intercept-url pattern="/banks/**" access="hasAnyRole('ADMIN', 'UNOS')" />
			-->
			
			<!--
			<intercept-url pattern="/banks/list/**" access="isAuthenticated()" />
			<intercept-url pattern="/banks/**" access="hasAnyAuthority('ADMIN', 'UNOS')" />
			<intercept-url pattern="/**" access="denyAll" />
			-->
			<!--
			<intercept-url pattern="/**" access="isAuthenticated()" />
			-->
			
	    </http>
	    
	    <authentication-manager >
	        <authentication-provider user-service-ref="customUserDetailsService"/>
	    </authentication-manager>
	    
	    <beans:bean id="customUserDetailsService" class="ba.sema.configuration.security.CustomUserDetailsService" />
	    <beans:bean id="customAuthenticationSuccessHandler" class="ba.sema.configuration.security.CustomAuthenticationSuccessHandler" />
	    
	</beans:beans>
    
</beans>
